* {
	padding: 0;
	margin: 0;
	font-size: 16px; /* em size = 16 px */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
}

h1 {
	font-size: 100px;
}

h3 {
	font-size: 36px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

h4 {
	font-size: 24px;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

p {
	font-size: 16px;
}

ul {
	list-style-position: inside;
	padding-top: 1em;
	padding-left: 1em;
}

.indent-list {
	padding-left: 2em;
}