* {
	padding: 0;
	margin: 0;
	font-size: 16px; /* em size = 16 px */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
}

nav {
	padding: 2em;
}

h1 {
	font-size: 60px;
}

h3 {
	font-size: 36px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

h4 {
	font-size: 24px;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

p {
	font-size: 16px;
	padding-top: 1em;
}

ol, ul {
	list-style-position: inside;
	padding-top: 1em;
	padding-left: 1em;
}

li {
	margin-bottom: 0.5em;
}

.indent-list {
	padding-left: 2em;
}

.callout {
	outline: 2px solid black;
	padding-left: 1em;
	padding-bottom: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.red-bold {
	color: red;
	font-size: 120%;
}